.home {
    color:orange;
    background-color: yellow;
    font-size:50px;
}

.contact {
    color:blue;
    background-color:green;
    font-style:italic;
}

.about {
    color:pink;
    background-color:red;
    margin:auto;
}

.footer {
    background-color:black;
    color:white;
    bottom:0;
    left:0;
    margin-top:23%;
    font-size:70px;
}

.cBox {
    margin:10px;
    padding:10px;
    border:blue solid 30px;
    text-align:center;
}