.home {
    color:orange;
    background-color: yellow;
    font-size:50px;
}

.contact {
    color:blue;
    background-color:green;
    font-style:italic;
}

.about {
    color:pink;
    background-color:red;
    margin:auto;
}